

=list($type)
  @if $type == 'number'
    list-style-type: decimal
    padding-bottom: $app-list-padding-v

    & > li
      margin-left: $app-list-item-margin-h
      padding-left: $app-list-item-padding-h

  @else if $type == 'bullet'
    counter-reset: list-counter
    list-style-type: disc
    padding-bottom: $app-list-padding-v

    > li
      margin-left: $app-list-item-margin-h
      padding-left: $app-list-item-padding-h

  @else
    @error 'Invalid list type: "' + $type + '"'



// FIXME: this is unfinished
=button($type: (null))
  @if (index($type, 'reset'))
    background-color: transparent
    border: 0
    cursor: pointer
    font-size: $button-font-size
    outline: 0



=link($type: ('base'))
  @if (index($type, 'base'))
    &:link,
    &:visited
      color: color('link')

    &:hover,
    &:active
      color: color('link', 'hover')

  @if (index($type, 'dark'))
    &:link,
    &:visited
      color: color('foreground')

    &:hover,
    &:active
      color: color('foreground', 'alternate')

  @else if (index($type, 'light'))
    &:link,
    &:visited
      color: color('foreground', 'alternate')

    &:hover,
    &:active
      color: color('foreground')


  @else if (index($type, 'underline'))
    border-bottom: rem(1px) solid currentColor
    padding-bottom: rem(4px)
