
/**
 * z-index layers
 */

$z-layer-below: -1;

$z-layer1:   100;
$z-layer2:   200;
$z-layer3:   300;
$z-layer4:   400;
$z-layer5:   500;
$z-layer6:   600;
$z-layer7:   700;
$z-layer8:   800;
$z-layer9:   900;
$z-layer10: 1000;
