/**
 * file: _typography.scss
 */

/**
 * Defines font sizes for helper classes.
 * They may also be accesed through the util function 'fontsize'
 */
$font-sizes: (
  'xsmall': rem(11px),
  'small': rem(14px),
  'medium': rem(15px),
  'normal': rem(17px),
  'large': rem(20px),
  'xlarge': rem(28px),
);

/**
 * The base font size for the html
 */
$base-font-size: 100%;

/**
 * The base font size as pixels
 */
$base-font-size-px: 16px;

/**
 * The base font size as pixels
 */
$base-font-size-rem: rem($base-font-size-px);

/**
 * Variable for modular scale (unused atm)
 */
$base-size: rem(10px);

/**
 * Variable for modular scale
 */
$ratio: $golden;

/**
 * The base font weight for the body
 */
$base-font-weight: 400;

/**
 * The base line height for the body
 */
$base-line-height: 1.7;

/**
 * The base paragraph font size
 */
$paragraph-font-size: rem(17px);

/**
 * Used for bottom spacing for paragraphs and other elements
 */
$paragraph-spacing: ($base-spacing * 1.25);

/**
 * The font family for the body
 */
$base-font-family: Source Sans Pro, Arial;

/**
 * The font family for the headings
 */
$heading-font-family: 'Lato', Arial, sans-serif;

/**
 * Font family for code blocks
 * @type {[type]}
 */
$code-font-family: Source Code Pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

/**
 * The tag names of headings
 */
$headings: (h1, h2, h3, h4, h5, h6);
