$app-overlay-layer: 10;

$config: (
  'images': '/assets/images/'
);

$z-indexes: (
  'below': -1,
  'default': 1,
  'above': 2,
  'header': 10,
  'overlay': 5000,
  'modal': 5001,
);

// $ionicons-font-path: '../fonts/ionicons-2.0.1' !default;

/**
 * The base bottom spacing
 * @type {number}
 */
$base-spacing: 2rem;

/**
 * The base gutter width
 * @type {number}
 */
$base-gutter: 2rem;

/**
 * The large base gutter width
 * @type {number}
 */
$base-gutter--large: rem(50px);

/**
 * The gutter for the row classes
 * @type {number}
 */
$row-gutter: 1.25rem;

/**
 * FIXME
 * @type {Number}
 */
 $grid-sizes: (12);

/**
 * The gutter used for the horizontal padding of rows when at mobile sizes.
 * @type {number}
 */
$row-gutter-at-small: 1.25rem;

/**
 * The left padding for the blockquote
 */
$block-quote-padding-h: ($base-gutter * 3);

/**
 * The base border radius
 * @type {number}
 */
$base-border-radius: 3px;

/**
 * The base transition time to be used for hover states
 */
$base-transition-duration: 0.3s;

/**
 * The header color for the background of post headers
 */
$post-header-background: $color-secondary;

/**
 * Variables for lists
 */
$list-item-margin-h: ($base-gutter * 1.25);
$list-item-padding-h: quarter($base-gutter);
$list-padding-v: $base-spacing;

/**
 * The height of the header when
 */
$site-header-height--post: rem(400px);



/**
 * Declare them from largest to smallest so that when looping over
 * them to create the responsive classes, the smaller classes
 * override the larger classes
 */
$app-breakpoints: (
  'default': 0,
  'xsm': rem(360px),
  'sm': rem(600px),
  'readable': rem(760px),
  'lg': rem(900px),
  'xlg': rem(1200px),
  'xxlg': rem(1400px),
);

/**
 * These classes will be used for the responsive @ classes.
 * @type {list}
 */
$app-breakpoint-classes: ('default', 'xlg', 'lg', 'sm', 'xsm');

$app-active-breakpoints: ();

@each $breakpoint-name, $size in $app-breakpoints {
  @if index($app-breakpoint-classes, $breakpoint-name) {
    $app-active-breakpoints: map-merge($app-active-breakpoints, ($breakpoint-name: $size)) !global;
  }
}

// ("default": 0, "xsm": 22.5rem, "sm": 37.5rem, "lg": 56.25rem, "xl": 75rem)
// @error $app-active-breakpoints;

$app-spacing: 16px;

$app-utility-levels: (
  // Don't put 0, because those are output manually
  1: quarter($app-spacing),
  2: half($app-spacing),
  3: $app-spacing,
  4: $app-spacing * 1.5,
  5: $app-spacing * 3,
  6: $app-spacing * 6,
);

$app-utility-positions: (
  t: (top),
  b: (bottom),
  l: (left),
  r: (right),
  x: (left, right),
  y: (top, bottom)
);

$app-project-preview-border-radius: 3px;
$app-site-header-lower: 1;
$app-site-header-container: 2;


// @each $weight in (200, 300, 400, 500, 600, 700)
//   .u-textWeight#{$weight}
//     font-weight: $weight !important
