$config: (
  'images': '/assets/images/'
);

$z-indexes: (
  'below': -1,
  'default': 1,
  'above': 2,
  'header': 10,
  'overlay': 5000,
  'modal': 5001,
);

/**
 * Declare them from largest to smallest so that when looping over
 * them to create the responsive classes, the smaller classes
 * override the larger classes
 */
$breakpoints: (
  'xxlarge': rem(1400px),
  'xlarge': rem(1200px),
  'large': rem(900px),
  'medium': rem(600px),
  'small': rem(350px),
  'readable': rem(760px)
);

// $ionicons-font-path: '../fonts/ionicons-2.0.1' !default;

/**
 * The base bottom spacing
 * @type {number}
 */
$base-spacing: 2rem;

/**
 * The base gutter width
 * @type {number}
 */
$base-gutter: 2rem;

/**
 * The large base gutter width
 * @type {number}
 */
$base-gutter--large: rem(50px);

/**
 * The gutter for the row classes
 * @type {number}
 */
$row-gutter: 1.25rem;

/**
 * FIXME
 * @type {Number}
 */
 $grid-sizes: (12);

/**
 * The gutter used for the horizontal padding of rows when at mobile sizes.
 * @type {number}
 */
$row-gutter-at-small: 1.25rem;

/**
 * The left padding for the blockquote
 */
$block-quote-padding-h: ($base-gutter * 3);

/**
 * These classes will be used for the responsive @ classes.
 * @type {list}
 */
$breakpoint-classes: ('xlarge', 'large', 'medium', 'small');

/**
 * The base border radius
 * @type {number}
 */
$base-border-radius: 3px;

/**
 * The base transition time to be used for hover states
 */
$base-transition-duration: 0.3s;

/**
 * The header color for the background of post headers
 */
$post-header-background: $color-secondary;

/**
 * Variables for lists
 */
$list-item-margin-h: ($base-gutter * 1.25);
$list-item-padding-h: quarter($base-gutter);
$list-padding-v: $base-spacing;

/**
 * The height of the header when
 */
$site-header-height--post: rem(400px);
