
.Intrinsic
  border-radius: inherit
  position: relative

@each $name, $ratio in $app-intrinsic-ratios
  .Intrinsic--#{$name}
    padding-bottom: ((nth($ratio, 2) / nth($ratio, 1)) * 100) + unquote('%')
