
.u-colorWhite
  color: #ffffff !important

.u-backgroundWhite
  background-color: #ffffff !important

.u-colorInherit
  color: inherit !important

.u-backgroundInherit
  background-color: inherit !important

