/**
 * Contains various utility classes
 * file: _helpers.sass
 */

.u-border-0
  border: 0 !important

.u-margin-0
  margin: 0 !important

.u-margin-center
  margin-left: auto !important
  margin-right: auto !important

.u-line-height-0
  line-height: 0 !important

.u-line-height-inherit
  line-height: inherit !important


.u-island
  padding: 20px !important

.u-continent
  padding: $base-spacing rem(60px) !important



/**
 * Collapse classes are used to collapse padding.
 * The base collapse class only collapses the left and right paddings.
 * Example:
 *    <div class="u-collapse@large"></div>
 */
+breakpointify('.u-collapse')
  padding-left: 0 !important
  padding-right: 0 !important

.u-collapse-left
  padding-left: 0 !important

.u-collapse-right
  padding-right: 0 !important

.u-collapse-all
  padding: 0 !important

.u-collapse-v
  padding-bottom: 0 !important
  padding-top: 0 !important

.u-collapse-top
  padding-top: 0 !important

.u-collapse-bottom
  padding-bottom: 0 !important

.u-collapse-last > :last-child
  padding-bottom: 0 !important



/**
 * When applied to an element that has the same height and width,
 * it will make the element display into the shape of a circle.
 */
.u-circlify
  border-radius: 100% !important



.u-float-right
  float: right !important

.u-float-left
  float: left !important

.u-clear
  clear: both !important

.u-clearfix
  +clearfix



.u-relative
  position: relative !important

.u-fixed
  position: fixed !important

.u-absolute
  position: absolute !important

.u-absolute-fill
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%

.u-absolute-center
  left: 50%
  position: absolute
  top: -50%
  transform: translate(-50%, -50%)



.u-inline
  display: inline !important

/**
 * From SUIT
 * 1. Fix for Firefox bug: an image styled `max-width:100%` within an
 * inline-block will display at its default size, and not limit its width to
 * 100% of an ancestral container.
 */

.u-inline-block
  display: inline-block !important
  max-width: 100% !important /* 1 */

.u-block
  display: block !important

.u-hidden
  display: none !important

.u-invisible
  visibility: hidden !important



.u-align-middle
  vertical-align: middle !important

.u-align-baseline
  vertical-align: baseline !important

.u-align-top
  vertical-align: top !important

.u-align-bottom
  vertical-align: bottom !important



.u-flex
  display: flex !important
  flex-wrap: wrap !important

.u-flex-column
  display: flex !important
  flex-direction: column !important

.u-flex-row
  display: flex !important
  flex-direction: row !important

.u-flex-nowrap
  flex-wrap: nowrap !important

.u-flex-wrap
  flex-wrap: wrap !important

.u-flex-inline
  display: inline-flex !important



/**
 * Helper classes for flex justify
 */

.u-justify-center
  justify-content: center !important

.u-justify-start
  justify-content: flex-start !important

.u-justify-end
  justify-content: flex-end !important

.u-justify-around
  justify-content: space-around !important

.u-justify-between
  justify-content: space-between !important



/**
 * Helper classes for flex align items
 */
.u-items-start
  align-items: flex-start !important

.u-items-center
  align-items: center !important

.u-items-end
  align-items: flex-end !important

.u-items-around
  align-items: space-around !important

.u-items-between
  align-items: space-between !important

.u-items-baseline
  align-items: baseline !important



@each $index in (1, 2)
  +breakpointify('.u-order-#{$index}')
    order: $index !important



@each $index in (1,2,3,4)
  .u-flex-#{$index}
    flex: $index !important



@each $weight in (200, 300, 400, 500, 600, 700)
  .u-weight-#{$weight}
    font-weight: $weight !important
