/**
 * Various helper classes for font sizes and colors.
 */

.u-text-meta
  font-size: fontsize('small')
  font-weight: 600
  letter-spacing: 1px
  line-height: $base-spacing
  text-transform: capitalize

.u-text-caption
  color: color('foreground', 'lighter') !important

.u-text-success
  color: color('success') !important

.u-text-error
  color: color('danger') !important

.u-text-warning
  color: color('warning') !important

.u-text-white
  color: white !important



@each $name, $size in $font-sizes
  .u-text-size-#{$name}
    font-size: $size



+breakpointify('.u-text-left')
  text-align: left !important

.u-text-center
  text-align: center !important

.u-text-right
  text-align: right !important

.u-text-justify
  text-align: justify !important

.u-text-upper
  text-transform: uppercase !important

.u-text-cap
  text-transform: capitalize !important

.u-text-bold
  text-weight: bold !important

.u-text-italic
  font-style: italic !important

/**
 * From SUIT
 *
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */

.u-text-truncate
  max-width: 100% /* 1 */
  overflow: hidden !important
  text-overflow: ellipsis !important
  white-space: nowrap !important
  word-wrap: normal !important /* 2 */

.u-text-nowrap
  white-space: nowrap !important

.u-text-color-inherit
  color: inherit !important

.u-text-break
  word-wrap: break-word !important



.u-letter-spacing-0
  letter-spacing: 0
