/**
 * Styles for the form
 */

$input-background: white
$input-foreground: #222222
$input-placeholder-foreground: #555555
$input-padding-v: 1rem
$input-padding-h: 1.5rem
$input-font-size: rem(15.4px)
$input-font-family: $base-font-family
$input-placeholder-font-size: rem(15px)
$input-border-width: rem(2px)
$input-border-style: solid
$input-border-color: #dddddd
$input-border-color--focus: color('primary')

$form-width: rem(500px)

/**
 * Base input styles
 */

.Input
  +input()

.Input--textarea
  min-height: rem(200px)

.Form__description
  font-size: rem(17px)
  padding-top: $base-spacing

.Form
  max-width: $form-width
