
.svg-icon
  +size(1.5rem)

.IconList
  +margin(null negative($app-icon-item-gutter))
  display: inline-block
  line-height: 0
  user-select: none

.IconList__item
  display: inline-block
  padding: 0 $app-icon-item-gutter

.IconList__link
  +size(2.4rem)
  border-radius: 100%
  display: block
  position: relative
  text-align: center

  &:link,
  &:visited
    color: $app-icon-list-link-foreground

  &:hover,
  &:active
    color: $app-icon-list-link-foreground--active

  & svg
    +center
    fill: currentColor
