
.IconList
  display: inline-block
  line-height: 0
  user-select: none

.IconList__item
  display: inline-block

.IconList__link
  border-radius: 100%
  display: block
  margin-right: 2.5rem
  position: relative
  text-align: center

  &:link,
  &:visited
    color: $app-icon-list-link-foreground

  &:hover,
  &:active
    color: $app-icon-list-link-foreground--active

  & svg
    fill: currentColor
    height: 1.5rem
    width: 1.5rem
