
.Overlay
  +position(fixed, 0 null null 0)
  background: rgba(color('background'), 0.5)
  height: 100vh
  overflow: auto

  z-index: $app-layer-overlay
  width: 100%

.Overlay.is-white
  background-color: #ffffff

.Overlay.is-codepen
  background-color: #1a1c1d

.Overlay.is-dark
  background-color: #2b292b

.Overlay-close
  background-color: transparent
  border: 2px solid transparent
  border-radius: 100%
  fill: rgba(black, 0.6)
  height: 43px
  outline: 0
  position: absolute
  right: 1rem
  top: 1rem
  transition: transform 170ms, box-shadow 170ms
  width: 43px

  &:focus
    border-color: rgba(black, 0.4)

  &:active
    transform: scale(0.92)
    box-shadow: 0 3px 5px -1px rgba(black, 0.4)

  &.is-light
    background-color: white
    box-shadow: 0 13px 36px -2px rgba(black, 0.18)

.Overlay-closeIcon
  width: 30px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
