
.ProgressiveMedia,
.ProgressiveMedia-canvas,
.ProgressiveMedia-imageWrap,
.ProgressiveMedia-image
  +absolute-fill
  border-radius: inherit

.ProgressiveMedia-thumb
  display: none

.ProgressiveMedia-image
  opacity: 0
  transition: 0.3s 0.2s
  z-index: 1

  &.is-imageLoaded
    opacity: 1
