/**
 * Styles for titles and headings
 */

.Title
  +title

.Title--small
  +title('small')
  color: #555555

.Title--alternate
  +title('alternate')

.Title--dark
  color: color('foreground')



.Title__caption
  color: #bdbdbd
  font-size: 0.55em
  letter-spacing: rem(3px)
  line-height: inherit
  margin-left: 3px

.Title__caption--light
  color: #dddddd

.Title--underline
  display: inline-block
  margin-bottom: $base-spacing
  padding-bottom: 0
  padding-right: rem(80px)
  position: relative

  &:before
    +position(absolute, null null -6px 0)
    border-bottom: 2px solid rgba(color('link'), 0.4)
    content: ''
    height: 2px
    transform: scale(0)
    transform-origin: 0 50%
    transition: transform 2s $ease-out-quint, opacity 0.4s ease-in
    width: 100%

  &.is-seen:before
    opacity: 1
    transform: scale(1)

  @media (max-width: breakpoint('large'))
    padding-right: 0



@media (max-width: breakpoint('medium'))
  .Title__caption
    display: block
    line-height: 1.6
    margin-left: 0
    margin-top: 0.3em

  .Title--underline
    display: block
    transform: scale(1)



.Paragraphs
  exists: true

.Paragraphs--small > p
  font-size: rem(15px)

.Paragraphs--light > p
  color: #777571



.Quote
  font-family: Cambria
  font-size: rem(20px)
  font-style: italic
  line-height: 1.4
