
.tr-fade-enter-active,
.tr-fade-leave-active
  transition: opacity 400ms

.tr-fade-leave,
.tr-fade-enter-to
  opacity: 1

.tr-fade-enter,
.tr-fade-leave-to
  opacity: 0



.tr-vertical-text-rotate-enter-active,
.tr-vertical-text-rotate-leave-active
  opacity: 1
  display: inline-block
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out

.tr-vertical-text-rotate-enter
  opacity: 0
  transform: translate(0, 20px)

.tr-vertical-text-rotate-enter-to
  transform: translate(0, 0)

.tr-vertical-text-rotate-leave
  opacity: 0
  transform: translate(0, 0)

.tr-vertical-text-rotate-leave-to
  opacity: 0
  transform: translate(0, 20px)





// TOOD: Uncomment
// .page-enter-active
//   transition: all 150ms 100ms ease-out

// .page-leave-active
//   transition: all 150ms 100ms ease-out

// .page-enter,
// .page-leave-active
//   opacity: 0
//   transform-origin: 50% 50%

