
// Goes like this
// 1. (.tr-enter, display: none),
// 2. (.tr-enter, .tr-enter-active, display: none),
// 3. (.tr-enter, .tr-enter-active),
// 4. (.tr-enter-active)

.tr-fade,
.tr-fade-enter-active,
.tr-fade-leave-active
  transition-duration: 0.3s
  transition-property: opacity

.tr-fade-enter-active,
.tr-fade-leave
  opacity: 1

.tr-fade-enter,
.tr-fade-leave-active
  opacity: 0
