
.FeatureWork
  margin: 0 auto 0 auto
  max-width: 1080px

.FeaturedWork-grid
  align-items: flex-start
  display: flex
  flex-wrap: wrap
  margin-bottom: spacing(4)

.FeaturedWork-column
  &.is-left
    margin-bottom: spacing(2)
    width: 100%

  &.is-right
    margin-bottom: spacing(2)
    max-width: 500px
    margin-right: auto
    margin-left: auto
    width: 100%

.FeatureWork-title
  font-family: $app-font-family-1
  font-size: 22px
  font-weight: 500
  letter-spacing: 2px
  margin-bottom: 20px
  position: relative
  // margin-left: 20px

  &:before
    background-color: #6196cc
    content: ''
    display: inline-block
    height: 4px
    // left: -20px
    margin-right: 26px
    // position: absolute
    // top: 50%
    // transform: translate(-100%, -50%)
    vertical-align: middle
    width: 30px

.FeaturedWork-list
  margin-bottom: 54px
  margin-left: 54px

  > li
    margin-bottom: 5px

    &:before
      background-color: #6196cc
      content: ''
      display: inline-block
      height: 3px
      margin-right: 10px
      margin-top: -2px
      vertical-align: middle
      width: 16px

.FeatureWork-text
  line-height: 2
  margin-bottom: 44px
  margin-left: 20px

.FeaturedWork-footnote
  font-size: 13px
  font-style: italic
  line-height: 1.7
  margin-bottom: 47px
  margin-left: 20px

.FeaturedWork-cta
  // background-color: #E6E6E6
  border: 0
  border: 2px solid rgba(black, 0.7)
  display: inline-block
  font-size: 12px
  letter-spacing: 2px
  outline: 0
  padding: 0 0
  padding: 18px 36px
  // padding: 16px 45px
  text-transform: uppercase

  &:link,
  &:visited
    color: color('foreground')

.FeaturedWork-media
  max-width: 600px
  margin-left: auto
  margin-right: auto



+app-breakpoint-min(lg)
  .FeaturedWork-media
    max-width: 100%
    margin-left: 0
    margin-right: 0

  .FeatureWork-content
    margin-left: 20px

  .FeaturedWork-cta
    margin-left: 20px



+app-breakpoint-min(lg)
  .FeaturedWork-grid
    margin-bottom: spacing(7)

  .FeaturedWork-column
    &.is-left
      width: 61%

    &.is-right
      max-width: 100%
      width: 39%

    &.has-paddingLeft
      padding-left: $app-featured-work-padding

    &.has-paddingRight
      padding-right: $app-featured-work-padding

    &.is-pushedRight
      position: relative
      left: 10px

    &.is-pushedLeft
      position: relative
      right: 10px



+app-breakpoint-min(xlg)
  .FeaturedWork-column
    &.is-pushedRight
      left: 30px

    &.is-pushedLeft
      right: 30px



.Tag
  background-color: #FFE083
  box-shadow: 0 28px 40px 0 rgba(0,0,0, 0.05)
  border-radius: 4px
  font-size: 10px
  letter-spacing: 1.25px
  padding: 12px 20px
  display: inline-block
  position: relative
  text-transform: uppercase

  &.is-absolute
    position: absolute
    left: -25px

    &:before
      // FIXME: Why does this not work???!!>!1 +triangle('up-right', 22px, 18px, #F2D26F)
      border-color: transparent #F2D26F transparent transparent
      border-width: 0 24px 10px 0
      border-style: solid
      bottom: 1px
      content: ''
      height: 0
      left: 1px
      position: absolute
      transform: translate(0%, 100%)
      width: 0



.WorkImages
  position: relative

.WorkImages-container
  box-shadow: 0 16px 46px -8px rgba(#828282, 0.3)
  margin-left: auto
  margin-right: auto

  &.has-dark-shadow
    box-shadow: 0 16px 46px -4px rgba(#BEBEBE, 0.5)

.WorkImages-image
  +absolute-fill
  border-radius: 6px

// 1. The height of the images
.WorkImages-aspectFill
  padding-bottom: 60% // [1]

.WorkImages-link
  display: block

.WorkImages-tag
  top: 10px

+app-breakpoint-min(lg)
  .WorkImages-tag
    top: 20px



.CodepenProjects
  background-color: hsla(0,0%,95%,1)
  border-top: 1px solid rgb(234, 233, 228)
  padding: spacing(3) 0

.ProjectPreviewList
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  opacity: 1
  margin-left: (-$app-project-preview-list-gutter)
  margin-right: (-$app-project-preview-list-gutter)
  padding: 0 0 spacing(1)
  transition: opacity 0.4s

.ProjectPreviewList__item
  $width: 400px
  border-radius: $app-codepen-border-radius
  flex: 0 0 auto
  line-height: 0
  max-width: $width
  padding: 0 $app-project-preview-list-gutter spacing(3)
  width: 33.333333%

@media (max-width: rem(1140px))
  .ProjectPreviewList
    justify-content: center

  .ProjectPreviewList__item
    +padding(null $app-gutter)
    flex: 0 0 50%
    max-width: rem(500px)

@media (max-width: rem(780px))

  .ProjectPreviewList__item
    +padding(null 0)
    flex: 100%
    max-width: rem(500px)
