
.disqus_thread
  margin: 0 auto
  max-width: breakpoint('lg')
  padding: ($app-gutter * 4) $app-gutter





.Social
  bottom: -4rem
  position: absolute
  right: 1.25rem

@media (max-width: app-breakpoint('sm'))
  .Social
    left: 50%
    right: initial
    text-align: center
    transform: translateX(-50%)
    width: 100%

