

.side-image
  background-color: color('primary')
  min-height: rem(300px)



.disqus_thread
  margin: 0 auto
  max-width: breakpoint('lg')
  padding: ($app-gutter * 4) $app-gutter






/**
 * This is the social icons that go below the header of a page
 */
.Social
  bottom: -4rem
  position: absolute
  right: 1.25rem

@media (max-width: app-breakpoint('sm'))
  .Social
    left: 50%
    right: initial
    text-align: center
    transform: translateX(-50%)
    width: 100%

