
=site-nav-link
  $padding-v: $app-site-nav-link-padding-v
  border-top: $app-site-nav-link-border-width solid transparent
  display: block
  filter: drop-shadow(3px 4px 7px rgba(black, 0.2))
  font-family: $app-site-nav-link-font-family
  font-size: rem(15px)
  font-weight: 600
  padding: calc(#{$padding-v} - #{$app-site-nav-link-border-width}) $app-site-nav-link-padding-h $padding-v
  text-transform: uppercase
  transition: background-color, color
  transition-duration: $app-transition-duration

  &:link,
  &:visited
    color: #dddddd

  &:hover,
  &:active,
  &.is-active
    color: #333333

    background: $app-site-nav-link-background--active
    border-color: white
      // color: $app-site-nav-link-foreground--active

  &.is-dark
    &:link,
    &:visited
      color: $app-site-nav-link-foreground

    &:hover,
    &:active,
    &.is-active





.Logo
  font-size: rem(14px)
  letter-spacing: rem(4px)
  width: $app-logo-width

.Logo__link
  +site-nav-link
  display: inline-block





.SiteNav
  flex: 1
  text-align: right

.SiteNav__list
  align-items: center
  display: inline-flex

.SiteNav__list__item__link
  +site-nav-link
  letter-spacing: rem(2px)

.SiteNav__list__icon-link
  align-items: center
  display: flex
  padding: 0.5rem

  &.is-github
    max-width: 4.5rem
    min-width: 4.5rem

    svg
      width: rem(22px)
      margin: 0 auto

  &.is-dark
    svg
      fill: $app-site-nav-link-foreground





//
// 1. Just enough to make the header a uniform height throughout all pages.
//

.SiteHeader
  min-height: rem(500px) // [1]
  position: relative
  width: 100%
  z-index: $app-layer-site-header
  transition: all 300ms

  &.is-collapsed
    min-height: 0

  &.has-darkBackground
    &:before
      +absolute-fill
      content: ''
      z-index: -1

  &.has-darkBackground
    background-color: $app-site-header-background

    &:before
      background-attachment: fixed
      background-image: url('~/assets/images/background-1+c.jpg')
      background-position: 100% 80%
      background-size: cover
      opacity: 0.12

  &.is-fullHeight
    min-height: 100vh

.SiteHeader__inner
  padding: 0 0 3rem 0
  position: relative
  width: 100%
  z-index: $app-layer-site-header

.SiteHeader__container
  display: flex
  justify-content: space-between
  margin: 0 auto
  position: relative
  width: 100%





+app-breakpoint-min(lg)
  .Logo__link
    &.is-fixed
      position: fixed





//
// Breaks the site navigation and "logo" onto two separate lines.
// The breakpoint is targeted for the point at which the site nav
// and logo layouts start breaking.
//
@media (max-width: 730px)
  .SiteHeader
    &.has-darkBackground
      &:before
        background-position: 80% 50%
        background-size: cover
        // background-position: 100% 100%

  .SiteHeader__container
    display: block

  .Logo,
  .Logo__link
    width: 100%

  .Logo__link
    &:link,
    &:visited
      background: $app-site-nav-link-background--active
      color: $app-site-nav-link-foreground--active

  .Logo,
  .SiteNav
    padding-left: 0
    text-align: center

  .SiteNav__list
    display: flex

  .SiteNav__list__item
    flex: 1
    text-align: center
    margin: 0

    &.has-icon
      max-width: 4rem

  .Logo__link
  .SiteNav__list__item__link
    padding-left: 0
    padding-right: 0

  .SiteNav__list__item__link
    padding-bottom: 10px
    padding-top: 10px
