
$site-header-height: rem(500px)
$site-header-background: color('background', 'dark')
$site-nav-link-foreground: color('foreground')
$site-nav-link-foreground--active: rgba(black, 0.7)
$site-nav-link-background--active: color('primary')
$site-nav-link-padding-v: 1rem
$site-nav-link-padding-h: 3rem
$site-nav-link-border-width: rem(0)
$site-nav-link-font-family: $app-font-family-1;


=site-nav-link
  $padding-v: $site-nav-link-padding-v
  border-top: $site-nav-link-border-width solid transparent
  display: block
  filter: drop-shadow(3px 4px 7px rgba(black, 0.2))
  font-family: $site-nav-link-font-family
  font-size: rem(15px)
  font-weight: 600
  padding: calc(#{$padding-v} - #{$site-nav-link-border-width}) $site-nav-link-padding-h $padding-v
  text-transform: uppercase
  transition: background-color, color
  transition-duration: $app-transition-duration

  &:link,
  &:visited
    color: #dddddd

  &:hover,
  &:active,
  &.is-active
    color: #333333

    background: $site-nav-link-background--active
    border-color: white
      // color: $site-nav-link-foreground--active

  &.is-dark
    &:link,
    &:visited
      color: $site-nav-link-foreground

    &:hover,
    &:active,
    &.is-active



.Logo
  font-size: rem(14px)
  letter-spacing: rem(4px)
  width: $app-logo-width

.Logo__link
  +site-nav-link
  display: inline-block

  &.is-fixed
    position: fixed



.SiteNav
  // background-color: color('background', 'dark')
  flex: 1
  // padding-left: $app-gutter * 2
  text-align: right

.SiteNav__list
  display: inline-flex

.SiteNav__list__item__link
  +site-nav-link
  letter-spacing: rem(2px)



/**
 * 1. Just enough to make the header a uniform height throughout all pages.
 * 2. Allows the background image to go farther down so it doesn't display
 * underneath the hero text, making it unreadable.
 */

.SiteHeader
  background-position: 100% 100%
  background-repeat: no-repeat
  background-size: cover
  // height: 100%
  left: 0
  position: relative
  min-height: rem(500px) // [1]
  top: 0
  width: 100%
  z-index: $app-layer-site-header

  @media (max-width: rem(890px))
    min-height: rem(650px) // [2]

  &.is-collapsed
    min-height: 0

  &.has-dark-background
    background-color: $site-header-background

  &.is-fullHeight
    min-height: 100vh

  &[data-page='about']
    @media (max-width: rem(890px))
      min-height: rem(720px)



.SiteHeader__inner
  padding: 0 0 3rem 0
  position: relative
  width: 100%
  z-index: $app-layer-site-header

.SiteHeader__container
  display: flex
  justify-content: space-between
  margin: 0 auto
  position: relative
  width: 100%

.SiteHeader__lower
  position: relative
  z-index: $app-layer-site-header-lower



/**
 * Breaks the site navigation and "logo" onto two separate lines.
 * The breakpoint is targeted for the point at which the site nav
 * and logo layouts start breaking.
 */
@media (max-width: 730px)
  .SiteHeader__container
    display: block

  .Logo__link
    &:link,
    &:visited
      background: $site-nav-link-background--active
      color: $site-nav-link-foreground--active

  .Logo,
  .SiteNav
    padding-left: 0
    text-align: center

  .SiteNav__list__item
    flex: 33.33333%
    margin: 0

  .SiteNav__list__item__link
    +padding(null 0)
