/**
 * file: _post.sass
 */

$post-font-size: rem(16px)
$post-max-width: rem(800px)
$post-header-background: #eeeeee
$post-gutter: double($row-gutter)
$post-elements: (blockquote, figure, img, ul, ol, li, p, dl, div)
$post-body-children: ()

@each $selector in join($headings, $post-elements)
  $post-body-children: join($post-body-children, '.Post__body > ' + $selector + ',')


.Post
  font-size: $post-font-size
  line-height: 1.8

/**
 * 1. Causes the text to be title to be directly in the middle
 *    of the site header's background image.
 */
.Post__header
  padding: 0 $row-gutter
  position: absolute
  top: half($site-header-height--post) /* [1] */
  transform: translateY(30%)
  width: 100%

.Post__title
  +row(readable)
  font-family: $heading-font-family
  font-size: 1.75rem
  font-weight: 900
  letter-spacing: rem(4px)
  line-height: 1.4
  padding-bottom: $base-spacing
  text-transform: uppercase

.Post__title a
  &:link,
  &:visited
    color: color('primary')

  &:hover,
  &:active
    color: color('foreground', 'lightest')

.Post__meta-list
  +row(readable)
  color: #aaaaaa
  line-height: $base-spacing

#{$post-body-children}
  +padding(null $post-gutter)
  +margin(null auto)
  color: lighten(color('foreground'), 4)
  max-width: $post-max-width

.Post__body
  padding: double($base-spacing) 0 $base-spacing

  > #{$headings}
    color: #404040
    padding-top: 1rem

  > ol
    +list(number)

  > ul
    +list(bullet)

  > .full-width
    max-width: initial



/**
 * 1. Make code displays full width on mobile for max viewability
 */
@media (max-width: breakpoint('medium'))
  #{$post-body-children}
    +padding(null $row-gutter-at-small)

  .Post__body > .highlighter-rouge
    padding-left: 0 !important
    padding-right: 0 !important


/**
 * z-indexed over the header wrapper
 */
.PostList
  margin: 0 auto
  position: relative
  z-index: 1 /* [1] */

.PostList__item
  padding: 1.25rem 0



.PostPreview
  padding: $base-spacing 0

  @media (max-width: breakpoint('medium'))
    padding: $base-spacing 0

// EXTRA EMPTY LINE

.PostPreview__title
  +title('small')
  font-family: Lato, Arial, sans-serif
  font-size: 1.4rem
  padding-bottom: 1.125rem

.PostPreview__link
  +link

.PostPreview__meta
  color: #666666
  font-size: rem(14px)
  letter-spacing: rem(1px)
  padding-bottom: 1.25rem

.PostPreview__body
  font-size: $post-font-size
  padding: 0 0 half($base-spacing)

.PostPreview__more
  +clearfix
  +link
  display: inline-block
  text-align: right
  text-transform: capitalize
