
.TODO-POSTMETA
  font-size: fontsize('small')
  font-weight: 600
  letter-spacing: 1px
  line-height: $app-base-spacing
  text-transform: capitalize



///
/// 1. z-indexed over the header wrapper
///
.PostList
  margin: 0 auto
  padding-top: 6rem
  position: relative
  z-index: 1 // [1]

.PostList__item
  padding-bottom: 6rem

.Post
  font-size: $app-post-font-size
  line-height: 1.8

///
/// 1. Causes the text to be title to be directly in the middle
///    of the site header's background image.
///
.Post__header
  padding: 0 $app-gutter
  position: absolute
  top: half($app-site-header-height--post) /* [1] */
  transform: translateY(30%)
  width: 100%

.Post__title
  // FIXME: +row(readable)
  font-family: rift-soft
  font-size: rem(42px)
  font-weight: 600
  letter-spacing: rem(3px)
  line-height: 1.2
  padding-bottom: $app-base-spacing
  // text-transform: uppercase

.Post__title a
  &:link,
  &:visited
    color: color('primary')

  &:hover,
  &:active
    color: color('foreground', 'lightest')

.Post__meta-list
  // FIXME +row(readable)
  color: #aaaaaa
  line-height: $app-base-spacing

#{$app-post-body-children}
  +padding(null $app-post-gutter)
  +margin(null auto)
  color: lighten(color('foreground'), 4)
  max-width: $app-post-max-width

.Post__body
  padding: double($app-base-spacing) 0 $app-base-spacing

  > #{$app-headings}
    color: #404040
    padding-top: 1rem

  > ol
    +list(number)

  > ul
    +list(bullet)

  > p
    padding-bottom: $app-paragraph-spacing


  > .full-width
    max-width: initial



/**
 * 1. Make code displays full width on mobile for max viewability
 */
@media (max-width: app-breakpoint('sm'))
  .Post__body > .highlighter-rouge
    padding-left: 0 !important
    padding-right: 0 !important

  // #{$post-body-children}
    // +padding(null $row-gutter-at-small)



.PostPreview__title
  +title('small')
  font-family: Lato, Arial, sans-serif
  font-size: 1.4rem
  padding-bottom: 1.125rem

.PostPreview__link
  +link

.PostPreview__meta
  color: #666666
  font-size: rem(14px)
  letter-spacing: rem(1px)
  padding-bottom: 1.25rem

.PostPreview__body
  font-size: $app-post-font-size
  padding: 0 0 half($app-base-spacing)

.PostPreview__more
  +clearfix
  +link
  display: inline-block
  text-align: right
  text-transform: capitalize
